<nav class="nav">
  <a class="nav-link" href="./">Connected Devices</a>
  <a class="nav-link" href="./lodge-a-claim">Lodge a Claim</a>
  <a class="nav-link active" href="./claim">Claim Status</a>
  <a class="nav-link disabled" href="#">Reports</a>
</nav>
<h3 class="header">Claims</h3>
<div class="claim-list">
  <table class="table" id="customers">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Claim Type</th>
      <th scope="col">Details</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">15/09/2022</th>
      <td>Fire building</td>
      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      <td>Submitted</td>
    </tr>
    <tr>
      <th scope="row">12/05/2022</th>
      <td>Broken glass building</td>
      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      <td>In progress</td>
    </tr>
    <tr>
      <th scope="row">02/04/2022</th>
      <td>Flood building</td>
      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      <td>Approved</td>
    </tr>
    <tr>
      <th scope="row">22/03/2021</th>
      <td>Storm building</td>
      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      <td>Rejected</td>
    </tr>
    </tbody>
  </table>
</div>
