<nav class="nav">
  <a class="nav-link active" href="./">Connected Devices</a>
  <a class="nav-link" href="./lodge-a-claim">Lodge a Claim</a>
  <a class="nav-link" href="./claim">Claim Status</a>
  <a class="nav-link disabled" href="#">Reports</a>
</nav>
<h3 class="header">Refrigerator Details</h3>

<div class="product-container">
  <span class="link start"><a href="">Start</a></span>
  <span class="link stop"><a href="">Stop</a></span>
  <span class="link refresh"><a href="">Refresh</a></span>
</div>
<div class="row">
  <div class="col-sm">
    <p class="other-items">Product Number: 570000354</p>
    <p class="other-items">Product Code: FEW678RX</p>
    <p class="other-items">Model: K60430N</p>
    <p class="other-items">Total Gross Volume: 335 L</p>
    <p class="other-items"><b>AMC Valid till : 23 Oct 2022</b></p>
  </div>
  <div class="col-sm">
    <p class="other-items">Voltaze: 220-240V ~</p>
    <p class="other-items">Frequency: 50Hz</p>
    <p class="other-items">Wattage: 130 W</p>
    <p class="other-items">Current: 1.25 A</p>
    <p class="other-items">Defrost Power: 150 W</p>
  </div>
</div>

