.nav {
  background-color: #6c757d;
  position: sticky;
  top: 0px;
}
.nav-link {
  color: #FFF;
}
.header {
  display: flex;
  justify-content: center;
}
.status-btn {
  float: right;
}

.btn-danger, .btn-success {
  border-radius: 10px;
  padding: 0px;
  height: 20px;
  width: 20px;
}

h3 {
  border-top: 1px solid #6c757d !important;
  color: #6c757d;
  padding-top: 40px;
}

.active {
  text-decoration: underline;
}

.other-items {
  color: #6c757d;
  margin: 10px 20px;
}
#claim {
  color: #6c757d;
}
#claim option {
  color: #6c757d;
}
textarea {
  width: 95%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-left: 20px;
}

.insured-img {
  border: 1px solid #ccc;
  margin: 20px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
img {
  max-width: 100%;
  height: auto;
}

.list-group {
  margin-left: 20px;
  margin-right: 20px;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.alert-success {
  position: sticky;
  top: 45px;
  margin: 20px;
  text-align: center;
}
